body {
	background: transparent url("images/noisy_grid.png");
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.layer-menu {
    background: white;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    border-right: 1px solid #CCC;
    z-index: 1000;
    overflow: auto;
    padding-left: 0px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

.layer-menu .t-button {
    padding: 6px 8px;
    border: none;
    float: none;
}

.layer-menu .t-icon {
    display: none;
}

.layer-menu .t-text {
    margin-left: 22px;
    margin-top: -1px;
}

.menu {
	background: white;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 350px;
	overflow: auto;
	border-right: 1px solid #CCC;
	z-index: 1000;
	overflow: auto;
	left: -320px;
	padding-left: 0px;
}

.menu .t-tail {
    padding-top: 2px;
}

.menu .t-tail .t-button {
    color: #666;
    text-decoration: none;
    text-transform: lowercase;
    display: block;
    padding: 4px 6px;
    cursor: pointer;
    border: none;
    float: none;
    padding-left: 10px;
    padding-right: 0;
    margin-right: 0;
}

.hidden .principal {
    display: none;
}

.menu .t-tail .t-tail .t-button {
    padding-left: 30px;
}

.menu .t-tail .t-icon {
    display: none
}

.menu .t-button .t-icon {
    display: block;
    float: right;
    margin-top: 0px;
    margin-right: 10px;
}

.menu .principal > .t-text, .menu .principal > .t-tick {
    display: none;
}

.menu .global {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}

.menu .global .t-text {
    margin-left: 34px;
    margin-top: 8px;
    margin-right: 8px;
    display: block;
    text-transform: lowercase;
}

.card-search {
    position: relative;
}

.card-search input {
    font-size: 15px;
    padding: 5px 4px;
    border: 1px solid #AAA;
    width: 329px;
    margin: 0px 5px 2px;
}

.card-search .t-button {
    position: absolute;
    top: 1px;
    right: 5px;
}

.card-search .t-icon {
    height: 20px;
    width: 20px;
    background: transparent url("images/icon-cancel.png") no-repeat center center;
}

.card-search .t-text {
    display: none;
}

.hidden .card-search {
    display: none;
}

.t-tree .t-text {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}

.t-tree .t-button {
    padding-left: 30px;
}

.t-tree .t-tree {
    padding-left: 20px;
}

.t-tree .t-tick {
    float: left;
    width: 20px;
    height: 20px;
    background: transparent url("images/tick-down.png") no-repeat center;
}

.t-collapsed .t-tail {
    display: none;
}

.t-collapsed .t-tick {
    background: transparent url("images/tick-right.png") no-repeat center;
}

.hud div {
    z-index: 800;
}

.t-button {
    float: left;
    margin-right: 10px;
    border: 1px solid #AAA;
    background-color: white;
    font-size: 14px;
    color: #666;
    z-index: 800;
}

.t-button .t-icon {
    width: 24px;
    height: 24px;
    float: left;
    margin: 4px 0px 2px 6px;
    background-color: #666;
    background: transparent url("images/camera-icon.png") no-repeat top left;
}

.disabled {
    background-color: #F5F5F5;
    cursor: wait !important;
    border: 1px solid #DDD;
}

.icon-none { background: transparent !important; }
.icon-invalid { background-image: url("images/alert-icon.png") !important; }
.icon-valid { background-image: url("images/icon-valid.png") !important; }
.icon-left { background-image: url("images/icon-left.png") !important; }
.icon-right { background-image: url("images/icon-right.png") !important; }
.icon-refresh { background-image: url("images/icon-refresh.png") !important; }
.icon-arrange { background-image: url("images/icon-arrange.png") !important; }
.icon-cancel { background-image: url("images/icon-cancel.png") !important; }
.icon-mobile { background-image: url("images/icon-mobile.png") !important; }
.icon-tablet { background-image: url("images/icon-tablet.png") !important; }
.icon-desktop { background-image: url("images/icon-desktop.png") !important; }
.icon-loading { 
    background-image: url("images/loading.gif") !important; 
    background-position: 5px 4px !important;
}

.hud .t-button .t-text {
    padding: 8px 8px 8px 0px;
    margin-left: 34px;
}

.hud .short .t-text {
    display: none;
}

.hud .short .t-icon {
    margin: 4px;
}

.hud .t-button:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

.hud .invalid-button {
    background-color: #FFDDDD;
}

.hidden {
	padding-left: 0;
	z-index: 900;
}

#option-menu {
	top: auto;
	height: 33%;
	border-top: 1px solid #CCC;
}

#overlay-menu {
	top: auto;
	height: 66%;
	border-top: 1px solid #CCC;
}

.field {
	padding: 6px 12px 6px 30px;
}

h1, h2 {
	font-size: 24px;
	color: #666;
	margin: 0;
	padding: 8px 8px 4px;
    text-transform: lowercase;
}

h2 {
    font-size: 18px;
}

.hidden h1 {
	transform-origin: right top 0;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-ms-transform-origin: right top 0;
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-webkit-transform-origin: right top 0;
	position: absolute;
	right: 38px;
}

h3 {
	font-size: 14px;
	color: #666;
	margin: 0;
	padding: 4px 10px 4px 20px;
}

h3:hover {
	background-color: #F5FFF5;
}

iframe {
	border: none;
	display: none;
	z-index: 0;
}

.mask {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2000;
	background-color: transparent;
}

.layer {
	position: absolute;
	z-index: 3;
	cursor: default;
	padding-bottom: 20px;
}

.layer .name {
	display: none;
	position: absolute;
	bottom: 6px;
	font-size: 10px;
	color: #888;
}

.opaciter {
	display: none;
	position: absolute;
	width: 10px;
    left: -17px;
    background: transparent !important;
}

.opaciter .box {
	background-color: #444;
	width: 12px;
	height: 14px;
	top: 0;
	float: left;
    position: static;
}

.layer:hover .opaciter {
	display: block;
}

#djDebug {
	display: none;
	visibility: hidden;
}

#loading {
	position: fixed;
	bottom: 10px;
	right: 20px;
	height: 24px;
	color: #AAA;
	font-size: 20px;
	padding-left: 22px;
	background: transparent url("images/loading.gif") no-repeat left;
}

.scaffold {
	display: block;
	width: 1px;
	height: 1px;
	position: absolute;
	z-index: 900;
}

.transform {
	z-index: 1000;
}

.scaffold > div {
	position: absolute;
	background: transparent;
}

.scaffold .top {
	cursor: move;
}

.scaffold .right {
	cursor: ew-resize;
}

.scaffold .bottom {
	cursor: ns-resize;
}

.scaffold:hover > div, .transform > div {
	display: block;
	background: #AAA;
}

.scaffold .corner, .scaffold:hover .corner {
	cursor: nwse-resize;
	background: transparent;
}

.scaffold .mask, .scaffold:hover .mask {
	display: none;
	background: transparent;
	z-index: 2;
}

.transform .mask, .transform:hover .mask {
	z-index: 1000;
	display: block;
	background: rgba(0, 0, 0, .1);
}

.scaffold span {
	display: none;
	font-size: 12px;
	color: #666;
}

.scaffold .auto {
	z-index: 2;
	display: none;
	cursor: pointer;
	width: 22px;
	height: 22px;
	float: right;
	background: transparent url("images/autosize.png") no-repeat center;
}

.scaffold .dim {
	display: none !important;
}

.dragging .dim {
	display: block !important;
}

.scaffold:hover span {
	display: block;
}

.scaffold .title {
	line-height: 24px;
	padding-left: 6px;
	color: white;
	z-index: 1;
}

.layer-button {
    padding: 4px 6px;
    display: block;
    cursor: pointer;
}

.layer-button .checkbox {
    float: left;
}

.layer-button .t-text {
    font-size: 16px;
}

.layer-button:hover {
    background: #f5f5f5;
}