<!DOCTYPE html>
<html>
<head>
	<title>Deck</title>

	{% block head %}
		{% include "deck/assets.html" %}
	{% endblock %}

	<script type="text/javascript" src="{{ STATIC_URL }}deck/lib/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}deck/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}deck/lib/tea.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}deck/menu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}deck/card.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}deck/hud.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}deck/scaffold.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}deck/manager.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}deck/layer.js"></script>

	<!--script type="text/javascript" src="{{ STATIC_URL }}deck/overlay.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}deck/handles.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}deck/scaffold.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}deck/card.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}deck/manager.js"></script-->

    <script type="text/javascript">
        Deck = {{group.json|safe}};
    </script>
</head>
<body>
	
    <iframe src="{% url 'container' %}"></iframe>

	{% block foot %}
	{% endblock %}
</body>
</html>